In [1]:
import pandas as pd
import numpy as np

In [4]:
wdi =pd.read_csv("wdi.csv")
hns =pd.read_csv("hns.csv")
df =pd.read_csv("full_data.csv")

In [5]:
df

,date,location,new_cases,new_deaths,total_cases,total_deaths,continent,population_year,population
0,2019-12-31,Afghanistan,0,0,0,0,Asia,2020,38928341
1,2020-01-01,Afghanistan,0,0,0,0,Asia,2020,38928341
2,2020-01-02,Afghanistan,0,0,0,0,Asia,2020,38928341
3,2020-01-03,Afghanistan,0,0,0,0,Asia,2020,38928341
4,2020-01-04,Afghanistan,0,0,0,0,Asia,2020,38928341
...,...,...,...,...,...,...,...,...,...
9136,2020-04-02,Zimbabwe,0,0,8,1,Africa,2020,14862927
9137,2020-04-03,Zimbabwe,0,0,8,1,Africa,2020,14862927
9138,2020-04-04,Zimbabwe,1,0,9,1,Africa,2020,14862927
9139,2020-04-05,Zimbabwe,0,0,9,1,Africa,2020,14862927
9140,2020-04-06,Zimbabwe,0,0,9,1,Africa,2020,14862927

In [7]:
wdi

,Unnamed: 0,Time,Time Code,Country Name,Country Code,"Age dependency ratio, young (% of working-age population) [SP.POP.DPND.YG]",Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],Domestic general government health expenditure (% of general government expenditure) [SH.XPD.GHED.GE.ZS],Domestic general government health expenditure (% of current health expenditure) [SH.XPD.GHED.CH.ZS],...,Population density (people per sq. km of land area) [EN.POP.DNST],Land area (sq. km) [AG.LND.TOTL.K2],Urban land area (sq. km) [AG.LND.TOTL.UR.K2],Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS],Population in largest city [EN.URB.LCTY],"Age dependency ratio, old (% of working-age population) [SP.POP.DPND.OL]",Age dependency ratio (% of working-age population) [SP.POP.DPND],Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN],Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD]
0,0,2018.0,YR2018,Afghanistan,AFG,79.319383,11.777194,0.600144,2.319116,5.095819,...,56.937760,652860.0,NaN,42.331198,4011770.0,4.758273,84.077656,466.079081,32.271170,125.41
1,1,2018.0,YR2018,Albania,ALB,25.768823,NaN,4.277554,14.678897,NaN,...,104.612263,27400.0,1689.403809,27.506393,475577.0,20.041214,45.810037,4105.150515,13.546110,150.93
2,2,2018.0,YR2018,Algeria,DZA,47.486590,6.374322,4.204164,10.734123,65.954691,...,17.730075,2381740.0,30195.796880,8.782310,2693542.0,10.021442,57.508032,3257.676874,20.241169,151.62
3,3,2018.0,YR2018,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,...,277.325000,200.0,116.166870,NaN,NaN,NaN,NaN,NaN,NaN,120.97
4,4,2018.0,YR2018,Andorra,AND,NaN,10.320552,5.060373,14.017555,49.031994,...,163.842553,470.0,NaN,NaN,NaN,NaN,NaN,NaN,22.200559,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,212,2018.0,YR2018,Virgin Islands (U.S.),VIR,32.318325,NaN,NaN,NaN,NaN,...,305.648571,350.0,302.013214,NaN,NaN,31.621050,63.939375,NaN,NaN,107.17
213,213,2018.0,YR2018,West Bank and Gaza,PSE,67.244146,NaN,NaN,NaN,NaN,...,758.984551,6020.0,2496.458252,19.357419,673638.0,5.409757,72.653903,NaN,28.317591,87.65
214,214,2018.0,YR2018,"Yemen, Rep.",YEM,68.884875,4.234575,0.431183,2.228724,10.182443,...,53.977853,527970.0,4703.399902,26.615465,2779317.0,5.001439,73.886314,1060.494887,46.925913,141.69
215,215,2018.0,YR2018,Zambia,ZMB,84.842512,4.470341,1.727027,6.856654,38.633010,...,23.341479,743390.0,NaN,33.420934,2523844.0,3.964332,88.806844,1129.393375,5.276711,179.77
216,216,2018.0,YR2018,Zimbabwe,ZWE,77.573229,6.635916,3.425181,15.234253,51.615793,...,37.324591,386850.0,NaN,32.576344,1515016.0,5.377887,82.951116,1142.940418,11.710690,88.75

In [6]:
hns

,Unnamed: 0,Year,Country Name,Country Code,Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],"Current health expenditure per capita, PPP (current international $) [SH.XPD.CHEX.PP.CD]",Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Labor force, total [SL.TLF.TOTL.IN]",...,"People using at least basic drinking water services, urban (% of urban population) [SH.H2O.BASW.UR.ZS]",People using at least basic sanitation services (% of population) [SH.STA.BASS.ZS],"People using at least basic sanitation services, rural (% of rural population) [SH.STA.BASS.RU.ZS]","People using at least basic sanitation services, urban (% of urban population) [SH.STA.BASS.UR.ZS]",Rural population (% of total population) [SP.RUR.TOTL.ZS],"School enrollment, primary (% gross) [SE.PRM.ENRR]","School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age) [SH.ALC.PCAP.LI]",Urban population (% of total population) [SP.URB.TOTL.IN.ZS]
0,0,2018,Afghanistan,AFG,50.5,57.248760,162.781158,8.6,64.130000,13952821.0,...,95.908743,43.417610,37.052304,62.261438,74.505,102.31050,53.79764,9.68642,0.2,25.495
1,1,2018,Albania,ALB,99.8,271.543043,759.666984,4.5,78.333000,1322907.0,...,91.835421,97.718368,96.885533,98.288014,39.681,106.99340,95.43233,54.96133,7.5,60.319
2,2,2018,Algeria,DZA,96.6,260.412579,998.153754,8.5,76.499000,12187913.0,...,95.442932,87.586571,82.209238,89.672369,27.371,109.88280,99.61435,51.36567,0.9,72.629
3,3,2018,American Samoa,ASM,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,54.454760,NaN,NaN,12.847,NaN,NaN,NaN,NaN,87.153
4,4,2018,Andorra,AND,NaN,3834.730581,4978.706602,6.6,NaN,NaN,...,100.000000,99.999996,100.000000,100.000000,11.938,NaN,NaN,NaN,11.3,88.062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,212,2018,Virgin Islands (U.S.),VIR,NaN,NaN,NaN,9.9,79.419512,51011.0,...,NaN,99.371278,NaN,NaN,4.279,NaN,NaN,NaN,NaN,95.721
213,213,2018,West Bank and Gaza,PSE,99.6,NaN,NaN,8.6,73.740000,1267515.0,...,97.108901,96.939007,96.138193,97.193367,23.836,98.60411,89.48775,44.25381,NaN,76.164
214,214,2018,"Yemen, Rep.",YEM,44.7,72.039469,144.518254,3.0,66.086000,6625451.0,...,79.052100,59.053003,42.838786,87.858275,63.358,93.63748,51.58068,10.15192,0.1,36.642
215,215,2018,Zambia,ZMB,63.3,56.544182,175.178352,4.0,63.043000,7183708.0,...,83.863119,26.370118,18.932012,36.239594,56.479,98.71552,NaN,4.11603,4.8,43.521
216,216,2018,Zimbabwe,ZWE,78.1,93.942225,185.048282,4.1,60.812000,6948204.0,...,93.997669,36.221398,31.466653,46.215993,67.791,109.89280,52.40567,10.00655,4.8,32.209

In [9]:
add = pd.merge(hns,wdi)

In [11]:
del add["Unnamed: 0"]
del add["Country Code"]

In [15]:
add["Year"] = 2020

In [16]:
add

,Year,Country Name,Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],"Current health expenditure per capita, PPP (current international $) [SH.XPD.CHEX.PP.CD]",Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]","Labor force, total [SL.TLF.TOTL.IN]","Literacy rate, adult total (% of people ages 15 and above) [SE.ADT.LITR.ZS]","Literacy rate, youth total (% of people ages 15-24) [SE.ADT.1524.LT.ZS]",...,Population density (people per sq. km of land area) [EN.POP.DNST],Land area (sq. km) [AG.LND.TOTL.K2],Urban land area (sq. km) [AG.LND.TOTL.UR.K2],Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS],Population in largest city [EN.URB.LCTY],"Age dependency ratio, old (% of working-age population) [SP.POP.DPND.OL]",Age dependency ratio (% of working-age population) [SP.POP.DPND],Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN],Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD]
0,2020,Afghanistan,50.5,57.248760,162.781158,8.6,64.130000,13952821.0,43.01972,65.42055,...,56.937760,652860.0,NaN,42.331198,4011770.0,4.758273,84.077656,466.079081,32.271170,125.41
1,2020,Albania,99.8,271.543043,759.666984,4.5,78.333000,1322907.0,98.14115,99.33000,...,104.612263,27400.0,1689.403809,27.506393,475577.0,20.041214,45.810037,4105.150515,13.546110,150.93
2,2020,Algeria,96.6,260.412579,998.153754,8.5,76.499000,12187913.0,81.40784,97.42652,...,17.730075,2381740.0,30195.796880,8.782310,2693542.0,10.021442,57.508032,3257.676874,20.241169,151.62
3,2020,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,277.325000,200.0,116.166870,NaN,NaN,NaN,NaN,NaN,NaN,120.97
4,2020,Andorra,NaN,3834.730581,4978.706602,6.6,NaN,NaN,NaN,NaN,...,163.842553,470.0,NaN,NaN,NaN,NaN,NaN,NaN,22.200559,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
212,2020,Virgin Islands (U.S.),NaN,NaN,NaN,9.9,79.419512,51011.0,NaN,NaN,...,305.648571,350.0,302.013214,NaN,NaN,31.621050,63.939375,NaN,NaN,107.17
213,2020,West Bank and Gaza,99.6,NaN,NaN,8.6,73.740000,1267515.0,97.21861,99.33625,...,758.984551,6020.0,2496.458252,19.357419,673638.0,5.409757,72.653903,NaN,28.317591,87.65
214,2020,"Yemen, Rep.",44.7,72.039469,144.518254,3.0,66.086000,6625451.0,NaN,NaN,...,53.977853,527970.0,4703.399902,26.615465,2779317.0,5.001439,73.886314,1060.494887,46.925913,141.69
215,2020,Zambia,63.3,56.544182,175.178352,4.0,63.043000,7183708.0,86.74796,92.09157,...,23.341479,743390.0,NaN,33.420934,2523844.0,3.964332,88.806844,1129.393375,5.276711,179.77
216,2020,Zimbabwe,78.1,93.942225,185.048282,4.1,60.812000,6948204.0,88.69342,90.42812,...,37.324591,386850.0,NaN,32.576344,1515016.0,5.377887,82.951116,1142.940418,11.710690,88.75