In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [32]:
hns = pd.read_csv("Health_Nutrition_and_Statistics.csv")
wdi = pd.read_csv("world_development_indicators.csv")

In [3]:
hns.head()

,Year,Year Code,Country Name,Country Code,Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS],"Community health workers (per 1,000 people) [SH.MED.CMHW.P3]",Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],"Current health expenditure per capita, PPP (current international $) [SH.XPD.CHEX.PP.CD]",Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS],"Life expectancy at birth, total (years) [SP.DYN.LE00.IN]",...,People with basic handwashing facilities including soap and water (% of population) [SH.STA.HYGN.ZS],"People with basic handwashing facilities including soap and water, rural (% of rural population) [SH.STA.HYGN.RU.ZS]","People with basic handwashing facilities including soap and water, urban (% of urban population) [SH.STA.HYGN.UR.ZS]",Rural population (% of total population) [SP.RUR.TOTL.ZS],"School enrollment, primary (% gross) [SE.PRM.ENRR]","School enrollment, secondary (% gross) [SE.SEC.ENRR]","School enrollment, tertiary (% gross) [SE.TER.ENRR]","Smoking prevalence, total, ages 15+ [SH.PRV.SMOK]","Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age) [SH.ALC.PCAP.LI]",Urban population (% of total population) [SP.URB.TOTL.IN.ZS]
0,2010,YR2010,Afghanistan,AFG,34.3,..,45.5877498,132.27127854,8.6,61.028,...,37.55213,29.01854,63.58285,76.263,100.0717,50.56725,..,..,0.2,23.737
1,2010,YR2010,Albania,ALB,..,..,203.20858851,478.31473658,4.5,76.562,...,..,..,..,47.837,93.49047,88.10389,44.54925,31.2,7.9,52.163
2,2010,YR2010,Algeria,DZA,..,..,228.39954356,645.28782782,8.5,74.938,...,83.07031,73.06981,87.87966,32.46,115.3376,96.93728,29.88943,15.2,0.7,67.54
3,2010,YR2010,American Samoa,ASM,..,..,..,..,..,..,...,..,..,..,12.406,..,..,..,..,..,87.594
4,2010,YR2010,Andorra,AND,..,..,3754.73134583,3937.48741843,6.6,..,...,..,..,..,11.181,..,..,..,34.8,11.4,88.819

In [4]:
for cname in hns:
    if cname == "Year":
        continue
    elif cname == "Country Name":
        continue
    elif cname == "Country Code":
        continue
    elif cname == "Time Code":
        continue
    else:
        hns[cname] = pd.to_numeric(hns[cname], errors='coerce')

In [35]:
wdi.head()

,Time,Time Code,Country Name,Country Code,"Age dependency ratio, young (% of working-age population) [SP.POP.DPND.YG]","Community health workers (per 1,000 people) [SH.MED.CMHW.P3]",Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],Domestic general government health expenditure (% of general government expenditure) [SH.XPD.GHED.GE.ZS],...,"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]","Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]",Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN],Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD],Women who believe a husband is justified in beating his wife when she burns the food (%) [SG.VAW.BURN.ZS]
0,2010,YR2010,Argentina,ARG,40.8285418195302,..,8.61366242170334,891.137756347656,5.56834600865841,16.6930332779884,...,18.24677,90.30145,18.24677,..,..,..,8810.35921254626,2.62017860740445,112.66,..
1,2010,YR2010,Australia,AUS,28.1580490459526,..,8.43084380030632,4952.77734375,5.7866245508194,16.2632510066032,...,41.79571,99.86813,37.48809,72.79897,..,..,39980.7729946189,5.48025421094859,96.01,..
2,2010,YR2010,Brazil,BRA,36.314913222797,..,7.94906690716743,891.76416015625,3.57876978814602,9.22007635235786,...,11.2994,..,11.2994,35.92268,..,..,9337.19418795313,4.62144744915168,123.98,..
3,2010,YR2010,China,CHN,25.468924010163,0.81,4.20799143612385,187.733474731445,2.18420960009098,8.75092446804047,...,..,..,8.81204,22.316,0.37868,..,3459.18181520509,4.61500308737094,119.96,..
4,2010,YR2010,France,FRA,28.5724568566086,..,11.2390235066414,4593.392578125,8.58061164617538,15.0849774479866,...,24.51876,98.43424,24.43201,61.89694,..,..,34311.5177305945,8.48877850557032,100.61,..

In [6]:
hns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 39 columns):
 #   Column                                                                                                                 Non-Null Count  Dtype
---  ------                                                                                                                 --------------  -----
 0   Year                                                                                                                   1955 non-null   object
 1   Year Code                                                                                                              0 non-null      float64
 2   Country Name                                                                                                           1953 non-null   object
 3   Country Code                                                                                                           1953 non-null   object
 4   Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS]                                                  654 non-null    float64
 5   Community health workers (per 1,000 people) [SH.MED.CMHW.P3]                                                           45 non-null     float64
 6   Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD]                                                1306 non-null   float64
 7   Current health expenditure per capita, PPP (current international $) [SH.XPD.CHEX.PP.CD]                               1305 non-null   float64
 8   Diabetes prevalence (% of population ages 20 to 79) [SH.STA.DIAB.ZS]                                                   205 non-null    float64
 9   Life expectancy at birth, total (years) [SP.DYN.LE00.IN]                                                               1600 non-null   float64
 10  Labor force, total [SL.TLF.TOTL.IN]                                                                                    1676 non-null   float64
 11  Literacy rate, adult total (% of people ages 15 and above) [SE.ADT.LITR.ZS]                                            416 non-null    float64
 12  Literacy rate, youth total (% of people ages 15-24) [SE.ADT.1524.LT.ZS]                                                409 non-null    float64
 13  Net migration [SM.POP.NETM]                                                                                            388 non-null    float64
 14  People using at least basic drinking water services (% of population) [SH.H2O.BASW.ZS]                                 1708 non-null   float64
 15  People using at least basic drinking water services, rural (% of rural population) [SH.H2O.BASW.RU.ZS]                 1340 non-null   float64
 16  People using at least basic drinking water services, urban (% of urban population) [SH.H2O.BASW.UR.ZS]                 1404 non-null   float64
 17  People practicing open defecation, urban (% of urban population) [SH.STA.ODFC.UR.ZS]                                   1388 non-null   float64
 18  People practicing open defecation, rural (% of rural population) [SH.STA.ODFC.RU.ZS]                                   1311 non-null   float64
 19  People practicing open defecation (% of population) [SH.STA.ODFC.ZS]                                                   1662 non-null   float64
 20  People using at least basic sanitation services (% of population) [SH.STA.BASS.ZS]                                     1686 non-null   float64
 21  People using at least basic sanitation services, rural (% of rural population) [SH.STA.BASS.RU.ZS]                     1332 non-null   float64
 22  People using at least basic sanitation services, urban  (% of urban population) [SH.STA.BASS.UR.ZS]                    1388 non-null   float64
 23  People using safely managed drinking water services (% of population) [SH.H2O.SMDW.ZS]                                 872 non-null    float64
 24  People using safely managed drinking water services, rural (% of rural population) [SH.H2O.SMDW.RU.ZS]                 272 non-null    float64
 25  People using safely managed drinking water services, urban (% of urban population) [SH.H2O.SMDW.UR.ZS]                 440 non-null    float64
 26  People using safely managed sanitation services (% of population) [SH.STA.SMSS.ZS]                                     752 non-null    float64
 27  People using safely managed sanitation services, rural (% of rural population) [SH.STA.SMSS.RU.ZS]                     352 non-null    float64
 28  People using safely managed sanitation services, urban  (% of urban population) [SH.STA.SMSS.UR.ZS]                    600 non-null    float64
 29  People with basic handwashing facilities including soap and water (% of population) [SH.STA.HYGN.ZS]                   634 non-null    float64
 30  People with basic handwashing facilities including soap and water, rural (% of rural population) [SH.STA.HYGN.RU.ZS]   631 non-null    float64
 31  People with basic handwashing facilities including soap and water, urban (% of urban population) [SH.STA.HYGN.UR.ZS]   627 non-null    float64
 32  Rural population (% of total population) [SP.RUR.TOTL.ZS]                                                              1928 non-null   float64
 33  School enrollment, primary (% gross) [SE.PRM.ENRR]                                                                     1332 non-null   float64
 34  School enrollment, secondary (% gross) [SE.SEC.ENRR]                                                                   1155 non-null   float64
 35  School enrollment, tertiary (% gross) [SE.TER.ENRR]                                                                    1055 non-null   float64
 36  Smoking prevalence, total, ages 15+ [SH.PRV.SMOK]                                                                      1022 non-null   float64
 37  Total alcohol consumption per capita (liters of pure alcohol, projected estimates, 15+ years of age) [SH.ALC.PCAP.LI]  374 non-null    float64
 38  Urban population (% of total population) [SP.URB.TOTL.IN.ZS]                                                           1928 non-null   float64
dtypes: float64(36), object(3)
memory usage: 596.7+ KB

In [7]:
for cname in wdi:
    if cname == "Year":
        continue
    elif cname == "Country Name":
        continue
    elif cname == "Country Code":
        continue
    elif cname == "Time Code":
        continue
    else:
        wdi[cname] = pd.to_numeric(wdi[cname], errors='coerce')

In [8]:
wdi.head()

,Time,Time Code,Country Name,Country Code,"Age dependency ratio, young (% of working-age population) [SP.POP.DPND.YG]","Community health workers (per 1,000 people) [SH.MED.CMHW.P3]",Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],Domestic general government health expenditure (% of general government expenditure) [SH.XPD.GHED.GE.ZS],...,"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]","Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]",Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN],Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD],Women who believe a husband is justified in beating his wife when she burns the food (%) [SG.VAW.BURN.ZS]
0,2010.0,YR2010,Argentina,ARG,40.828542,NaN,8.613662,891.137756,5.568346,16.693033,...,18.24677,90.30145,18.24677,NaN,NaN,NaN,8810.359213,2.620179,112.66,NaN
1,2010.0,YR2010,Australia,AUS,28.158049,NaN,8.430844,4952.777344,5.786625,16.263251,...,41.79571,99.86813,37.48809,72.79897,NaN,NaN,39980.772995,5.480254,96.01,NaN
2,2010.0,YR2010,Brazil,BRA,36.314913,NaN,7.949067,891.764160,3.578770,9.220076,...,11.29940,NaN,11.29940,35.92268,NaN,NaN,9337.194188,4.621447,123.98,NaN
3,2010.0,YR2010,China,CHN,25.468924,0.81,4.207991,187.733475,2.184210,8.750924,...,NaN,NaN,8.81204,22.31600,0.37868,NaN,3459.181815,4.615003,119.96,NaN
4,2010.0,YR2010,France,FRA,28.572457,NaN,11.239024,4593.392578,8.580612,15.084977,...,24.51876,98.43424,24.43201,61.89694,NaN,NaN,34311.517731,8.488779,100.61,NaN

In [9]:
wdi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1958 entries, 0 to 1957
Data columns (total 42 columns):
 #   Column                                                                                                                       Non-Null Count  Dtype
---  ------                                                                                                                       --------------  -----
 0   Time                                                                                                                         1953 non-null   float64
 1   Time Code                                                                                                                    1953 non-null   object
 2   Country Name                                                                                                                 1953 non-null   object
 3   Country Code                                                                                                                 1953 non-null   object
 4   Age dependency ratio, young (% of working-age population) [SP.POP.DPND.YG]                                                   1739 non-null   float64
 5   Community health workers (per 1,000 people) [SH.MED.CMHW.P3]                                                                 45 non-null     float64
 6   Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS]                                                                    1484 non-null   float64
 7   Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD]                                                      1484 non-null   float64
 8   Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS]                                                1492 non-null   float64
 9   Domestic general government health expenditure (% of general government expenditure) [SH.XPD.GHED.GE.ZS]                     1492 non-null   float64
 10  Domestic general government health expenditure (% of current health expenditure) [SH.XPD.GHED.CH.ZS]                         1484 non-null   float64
 11  Current health expenditure per capita, PPP (current international $) [SH.XPD.CHEX.PP.CD]                                     1481 non-null   float64
 12  Domestic general government health expenditure per capita (current US$) [SH.XPD.GHED.PC.CD]                                  1492 non-null   float64
 13  Domestic general government health expenditure per capita, PPP (current international $) [SH.XPD.GHED.PP.CD]                 1489 non-null   float64
 14  Domestic private health expenditure (% of current health expenditure) [SH.XPD.PVTD.CH.ZS]                                    1484 non-null   float64
 15  Domestic private health expenditure per capita (current US$) [SH.XPD.PVTD.PC.CD]                                             1484 non-null   float64
 16  Domestic private health expenditure per capita, PPP (current international $) [SH.XPD.PVTD.PP.CD]                            1481 non-null   float64
 17  External health expenditure per capita, PPP (current international $) [SH.XPD.EHEX.PP.CD]                                    1489 non-null   float64
 18  External health expenditure per capita (current US$) [SH.XPD.EHEX.PC.CD]                                                     1492 non-null   float64
 19  ARI treatment (% of children under 5 taken to a health provider) [SH.STA.ARIC.ZS]                                            171 non-null    float64
 20  Births attended by skilled health staff (% of total) [SH.STA.BRTC.ZS]                                                        654 non-null    float64
 21  Population density (people per sq. km of land area) [EN.POP.DNST]                                                            1923 non-null   float64
 22  Land area (sq. km) [AG.LND.TOTL.K2]                                                                                          1930 non-null   float64
 23  Urban land area (sq. km) [AG.LND.TOTL.UR.K2]                                                                                 179 non-null    float64
 24  Population in the largest city (% of urban population) [EN.URB.LCTY.UR.ZS]                                                   1370 non-null   float64
 25  Population in largest city [EN.URB.LCTY]                                                                                     1370 non-null   float64
 26  Age dependency ratio, old (% of working-age population) [SP.POP.DPND.OL]                                                     1739 non-null   float64
 27  Age dependency ratio (% of working-age population) [SP.POP.DPND]                                                             1739 non-null   float64
 28  Coverage of social insurance programs (% of population) [per_si_allsi.cov_pop_tot]                                           169 non-null    float64
 29  Coverage of social insurance programs in poorest quintile (% of population) [per_si_allsi.cov_q1_tot]                        169 non-null    float64
 30  Coverage of social insurance programs in richest quintile (% of population) [per_si_allsi.cov_q5_tot]                        169 non-null    float64
 31  Educational attainment, at least completed lower secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.LO.ZS]       517 non-null    float64
 32  Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]        516 non-null    float64
 33  Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]            466 non-null    float64
 34  Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]  521 non-null    float64
 35  Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]       543 non-null    float64
 36  Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]          291 non-null    float64
 37  Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]                   251 non-null    float64
 38  Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD]                                                    1391 non-null   float64
 39  Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN]                                                                  1405 non-null   float64
 40  Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD]                                                                     1409 non-null   float64
 41  Women who believe a husband is justified in beating his wife when she burns the food (%) [SG.VAW.BURN.ZS]                    88 non-null     float64
dtypes: float64(39), object(3)
memory usage: 642.6+ KB

In [11]:
i=0
enough_info_wdi = list()
not_enough_info_wdi = list()
threshold_wdi = 150

for p in wdi:
    i=0
    for j in range(len(wdi.groupby(by="Country Name").count())):
        if p == "Country Name":
            continue
        
        elif wdi.groupby(by="Country Name").any()[p][j] == True:
            i+=1
    if i < threshold_wdi:
        not_enough_info_wdi.append(p)
    else:
        enough_info_wdi.append(p)

In [12]:
print("How many features in World Development Indicators not have enough data: {} ".format(len(not_enough_info_wdi)))

How many features in World Development Indicators not have enough data: 14

In [13]:
print("How many features in World Development Indicators have enough data: {} ".format(len(enough_info_wdi)))

How many features in World Development Indicators have enough data: 28

In [18]:
i=0
enough_info_hns = list()
not_enough_info_hns = list()
threshold_hns = 150

for p in hns:
    i=0
    for j in range(len(hns.groupby(by="Country Name").count())):
        if p == "Country Name":
            continue
        
        elif hns.groupby(by="Country Name").any()[p][j] == True:
            i+=1
    if i < threshold_hns:
        not_enough_info_hns.append(p)
    else:
        enough_info_hns.append(p)

In [19]:
print("How many features in Health Nutrition and Population not have enough data: {} ".format(len(not_enough_info_hns)))

How many features in Health Nutrition and Population not have enough data: 16

In [20]:
print("How many features in Health Nutrition and Population have enough data: {} ".format(len(enough_info_hns)))

How many features in Health Nutrition and Population have enough data: 23

In [36]:
for i in range(len(wdi)):
    for name in not_enough_info_wdi:
        if (wdi[wdi.index ==i]["Country Name"] == name).bool():
            del wdi[wdi.index ==i]

In [37]:
wdi.reset_index()

,index,Time,Time Code,Country Name,Country Code,"Age dependency ratio, young (% of working-age population) [SP.POP.DPND.YG]","Community health workers (per 1,000 people) [SH.MED.CMHW.P3]",Current health expenditure (% of GDP) [SH.XPD.CHEX.GD.ZS],Current health expenditure per capita (current US$) [SH.XPD.CHEX.PC.CD],Domestic general government health expenditure (% of GDP) [SH.XPD.GHED.GD.ZS],...,"Educational attainment, at least completed post-secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.PO.ZS]","Educational attainment, at least completed primary, population 25+ years, total (%) (cumulative) [SE.PRM.CUAT.ZS]","Educational attainment, at least completed short-cycle tertiary, population 25+, total (%) (cumulative) [SE.TER.CUAT.ST.ZS]","Educational attainment, at least completed upper secondary, population 25+, total (%) (cumulative) [SE.SEC.CUAT.UP.ZS]","Educational attainment, at least Master's or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.MS.ZS]","Educational attainment, Doctoral or equivalent, population 25+, total (%) (cumulative) [SE.TER.CUAT.DO.ZS]",Adjusted net national income per capita (current US$) [NY.ADJ.NNTY.PC.CD],Food imports (% of merchandise imports) [TM.VAL.FOOD.ZS.UN],Food production index (2004-2006 = 100) [AG.PRD.FOOD.XD],Women who believe a husband is justified in beating his wife when she burns the food (%) [SG.VAW.BURN.ZS]
0,0,2010,YR2010,Argentina,ARG,40.8285418195302,..,8.61366242170334,891.137756347656,5.56834600865841,...,18.24677,90.30145,18.24677,..,..,..,8810.35921254626,2.62017860740445,112.66,..
1,1,2010,YR2010,Australia,AUS,28.1580490459526,..,8.43084380030632,4952.77734375,5.7866245508194,...,41.79571,99.86813,37.48809,72.79897,..,..,39980.7729946189,5.48025421094859,96.01,..
2,2,2010,YR2010,Brazil,BRA,36.314913222797,..,7.94906690716743,891.76416015625,3.57876978814602,...,11.2994,..,11.2994,35.92268,..,..,9337.19418795313,4.62144744915168,123.98,..
3,3,2010,YR2010,China,CHN,25.468924010163,0.81,4.20799143612385,187.733474731445,2.18420960009098,...,..,..,8.81204,22.316,0.37868,..,3459.18181520509,4.61500308737094,119.96,..
4,4,2010,YR2010,France,FRA,28.5724568566086,..,11.2390235066414,4593.392578125,8.58061164617538,...,24.51876,98.43424,24.43201,61.89694,..,..,34311.5177305945,8.48877850557032,100.61,..
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1953,1953,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1954,1954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1955,1955,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1956,1956,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1957,1957,Last Updated: 04/09/2020,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN