In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [41]:
df = pd.read_csv("full_data.csv")
df.head()

,date,location,new_cases,new_deaths,total_cases,total_deaths,continent,population_year,population
0,2019-12-31,Afghanistan,0,0,0,0,Asia,2020,38928341
1,2020-01-01,Afghanistan,0,0,0,0,Asia,2020,38928341
2,2020-01-02,Afghanistan,0,0,0,0,Asia,2020,38928341
3,2020-01-03,Afghanistan,0,0,0,0,Asia,2020,38928341
4,2020-01-04,Afghanistan,0,0,0,0,Asia,2020,38928341

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9141 entries, 0 to 9140
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             9141 non-null   object
 1   location         9141 non-null   object
 2   new_cases        9141 non-null   int64
 3   new_deaths       9141 non-null   int64
 4   total_cases      9141 non-null   int64
 5   total_deaths     9141 non-null   int64
 6   continent        9141 non-null   object
 7   population_year  9141 non-null   int64
 8   population       9141 non-null   int64
dtypes: int64(6), object(3)
memory usage: 642.9+ KB